
<div align="center">
  <a class="linemenu-nav-item{% if page.url == '/listAllFiles/' %} active{% endif %}" href="/listAllFiles/">[All posts] </a>
  <a class="linemenu-nav-item{% if page.url == '/presentations/' %} active{% endif %}" href="/presentations/">[Presentations] </a>
  <a class="linemenu-nav-item{% if page.url == '/world/' %} active{% endif %}" href="/world/">[Around the World] </a>
  <a class="linemenu-nav-item{% if page.url == '/repisa/' %} active{% endif %}" href="/repisa/">[La Repisa] </a>
  <a class="linemenu-nav-item{% if page.url == '/fifcha/' %} active{% endif %}" href="/fifcha">[FIFCHA] </a>
  <a class="linemenu-nav-item{% if page.url == '/billetesdelperu/' %} active{% endif %}" href="/billetesperu">[Billetes del Perú] </a>
</div>
<br>